{% extends "base.jinja2" %}
{% block content %}
  <!-- Main -->
  <div id="main">

    <!-- Post -->
    <section class="post">
      <header class="major">
        <h1>About</h1>
        <p>We love our community!</p>
      </header>
      <p>More about information here</p>
    </section>

  </div>

{% endblock content %}
