{% extends "base.jinja2" %}
{% block content %}

  <!-- Main -->
  <div id="main">

    <!-- Featured Post -->
    <article class="post featured">
      <header class="major">
        <h2>
          <a href="#">- The Future -</a>
        </h2>
        <p>
          Here we sell great products!
          <br />
          Check them out below!
        </p>
      </header>

    </article>

    <!-- Posts -->
    <section class="posts">

      {% for product in products %}

        {% set stock = -1 %}
        {% if 'stock' in product.metadata %}
          {% set stock = product.metadata['stock'] | int %}
        {% endif %}
        
        <article>
          <header>
            <h2>
              <a href="#">{{ product.name }}</a>
            </h2>

            {% if stock > 0 %}
              <span class="date">{{ stock }} in stock</span>
            {% elif stock == -1 %}
              <span class="date">In stock</span>
            {% else %}
              <span class="date" style="color: red">Out of stock</span>
            {% endif %}

          </header>
          <a href="/product/{{ loop.index - 1 }}" class="image fit">
            <img src="{{ product.images[0] }}" width="15vw"  alt="" />
          </a>
          <p>{{ product.description }}</p>
          <ul class="actions special">
            <li>
              <a href="/product/{{ loop.index - 1 }}" class="button">More Info</a>
            </li>
          </ul>
        </article>
      {% endfor %}


    </section>

  </div>
{% endblock content %}
