{% extends "base.jinja2" %}
{% block content %}

  <!-- Main -->
  <div id="main">

    <!-- Post -->
    <section class="post">
      <header class="major">
        <h1>Your payment was refunded.</h1>
      </header>
      <p>The last item in stock was purchased by someone else just after your payment had already begun processing. Your payment has been automatically refunded.</p>
    </section>

  </div>


{% endblock %}
