{% extends "base.jinja2" %}
{% block content %}
  <!-- Main -->
  <div id="main">

    <!-- Post -->
    <section class="post">
      <header class="major">
        <h1>Your payment succeeded!</h1>
      </header>
    </section>

  </div>
{% endblock content %}
